*.log
*.pot
*.pyc
*.~vsd
*.*#
*.*~
local_settings.py
dp.sqlite3
malucrawl/staticfiles/
malucrawl/local_settings.py

#latex
*.aux*
final-report.d
final-report.nls
final-report.fls
final-report.nlo
final-report.bbl
final-report.blg
final-report.nlg
final-report.out*
final-report.pdf*
final-report.toc*

#vim
*.swp
