django-crispy-forms
django-jquery
django-js-utils
django-angularjs
django-bootstrap-less
django-compressor
django-extensions
django-celery-with-redis
publicsuffix
progress
tweepy
jsonschema
eventlet
pebl
clamd
requests
